@{
    ViewBag.Title = "Add_Question";
    Layout = "~/Views/Shared/Teacher_Master_Page.cshtml";
}
<script src="~/Content/js/bootstrap.min.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/jquery-3.2.1.js"></script>

<body>
    <div class="container" style="border: none; padding: 0px; border-radius: 4px;">
        <h3><b>Create Exam</b></h3>
        <hr>
        <div class="container scroll" style="border: 1px solid silver; padding: 0px; border-radius: 4px;">
            <div class="container-fluid" style="background-color: #F4F4F4; padding: 12px; border-radius: 4px;"><span class="glyphicon glyphicon-list"></span>Selected Questions</div>
            <div class="container">
    
                @using (Html.BeginForm("Send_Exam","Teacher"))
{
    int count = 1;
    <br>
    <table class="table table-striped table-bordered">
        <tr>
            <th style="width:20px;"></th>
            <th style="width:950px;"><label>Question's List</label></th>
            <th style="text-align: center;"><label>Type</label></th>
        </tr>
        
        @foreach (var mcq in @ViewBag.MCQ)
        {
            <tr>
                <td>
                    <label>@count .</label>
                    <input type="text" name="question_@count" value="@mcq.Question_Id" hidden />
                    <input type="text" name="mark_@count" value="@ViewBag.eachmcqmark" hidden />

                </td>
                <td style="height: 30px; min-width: 950px; max-width:950px; overflow:hidden; text-overflow:ellipsis; font-size: 15px;">
                    @mcq.Questions
                </td>
                <td style="text-align:center;">@mcq.Type</td>
            </tr>
            count++;
        }
        @foreach (var tf in @ViewBag.TrueFalse)
        {
            <tr>
                <td>
                    <label>@count .</label>
                    <input type="text" name="question_@count" value="@tf.Question_Id" hidden />
                    <input type="text" name="mark_@count" value="@ViewBag.eachtfmark" hidden />

                </td>
                <td style="height: 30px; min-width: 950px; max-width:950px; overflow:hidden; text-overflow:ellipsis; font-size: 15px;">
                    @tf.Questions
                </td>
                <td style="text-align:center;">@tf.Type</td>
            </tr>
            count++;
        }
    </table>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create_Criteria", "Teacher")'"><span class="glyphicon glyphicon-backward"></span> Cancel</button>
    <input type="submit" class="btn btn-success" />
}
                
            </div>
            <br>
            <br>
        </div>
    </div>
</body>